* {
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #FBF9F4;
    font-family: 'Raleway', sans-serif;
    color: #484849;
}
a {
    text-decoration: none;
    color: #484849;
}



nav {
    position: fixed; 
    width: 100%;
    background-color: #FBF9F4;
    z-index: 1;
    height: 60px;
    font-size: 20px;
}
nav ul {
    margin: 0;
    padding: 10px 10px;
    text-align: center;
}
nav li{
    background: r#FBF9F4;
    border: 1px solid #FBF9F4;
    border-radius: 3px;
    color:#484849;
    letter-spacing: 2px;
    margin: 7px;
    padding: 5px;
    display: inline-block; 
}
nav li:hover {
    background: #DCE7ED;
    border: 1px solid #DCE7ED;
}




.banner {
    background-image: url("https://drive.google.com/uc?id=1zuuV8Dq_ePwmKqPHVHlTHwx4rSouxcms"); 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 50% 85%;
    height: 585px;
    width: 100%;
    position: relative;
    top: 60px;
}
.intro {
    color: white;
    border: 3px solid white;
    position: relative;
    top: 395px;
    left: 10px;
    width: 550px;
    text-align: center;
}
.hi {
    font-size: 25px;
}
.full_name{
    font-size: 75px;
    width: 400px;
    margin: 0 auto;
}



.column {
    float: left;
    padding: 10px;
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
    top: 60px;
}
.left {
    width: 25%;
    height: 600px;
    background-color: #DCE7ED;
}
.right {
    width: 75%;
    height: 600px;
}
.right h1 {
    text-align: center;
    font-size: 50px;
}
.head_shot {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: right;
    border: 2px solid #A5B424;
    margin: 0 auto;
}
.right p {
    font-size: 20px;
    padding: 20px 80px;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.work a{
    background: r#FBF9F4;
    border: 1px solid #FBF9F4;
    border-radius: 3px;
    color: #484849;
    letter-spacing: 2px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: inline-block; 
}
.right a:hover {
    background: #DCE7ED;
    border: 1px solid #DCE7ED;
}




.right ul {
    padding: 30px 200px 50px 200px;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
}
.right li {
    line-height: 2;
}




footer {
    background: #DCE7ED;
    width: 100%;
    position: fixed;
    bottom: 0px;
    border: 1px solid LightGrey;
    height: 40px;
    flex-shrink: 0;
}
.bottom_bar {
    text-align: center;
    font-size: 15px;
    padding: 0px 5px 10px 5px;
}