body {
    background-color: #FBF9F4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
  }
nav {
    position: fixed; 
    width: 100%;
    background-color: #FBF9F4;
    z-index: 1;
    height: 80px;
}
nav ul {
    margin: 0;
    padding: 30px 0px;
    text-align: center;
}
nav li{
    background: r#FBF9F4;
    border: 1px solid #FBF9F4;
    border-radius: 3px;
    color: black;
    letter-spacing: 2px;
    margin: 7px;
    padding: 5px;
    display: inline-block; 
}
nav li:hover {
    background: #DCE7ED;
    border: 1px solid #DCE7ED;
}
nav a {
    text-decoration: none;
}
.banner {
    background-image: url("https://drive.google.com/uc?id=1zuuV8Dq_ePwmKqPHVHlTHwx4rSouxcms"); 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 50% 85%;
    height: 580px;
    width: 100%;
    position: relative;
    top: 50px;
}
.intro {
    color: white;
    border: 3px solid white;
    position: relative;
    top: 395px;
    left: 10px;
    width: 550px;
    text-align: center;
}
.hi {
    font-size: 25px;
}
.full_name{
    font-size: 75px;
    width: 400px;
    margin: 0 auto;
}
.about h1 {
    text-align: center;
    font-size: 50px;
}
.head_shot {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    border: 2px solid #A5B424;
    margin: 0 auto;
}
.about {
    position: relative;
    top: 30px;
}
.about p {
    padding: 0px 200px 100px 200px;
    font-size: 20px;
}
.work h1 {
    text-align: center;
    font-size: 50px;
}
.work {
    position: relative; 
    top: 80px;
}
.work p {
    padding: 30px 200px 50px 200px;
    font-size: 20px;
    text-align: center;
}
.work a{
    background: r#FBF9F4;
    border: 1px solid #FBF9F4;
    border-radius: 3px;
    color: black;
    letter-spacing: 2px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: inline-block; 
}
.work a:hover {
    background: #DCE7ED;
    border: 1px solid #DCE7ED;
}
.contact h1 {
    text-align: center;
    font-size: 50px;
}
.contact {
    position: relative; 
    top: 80px;   
}
.contact ul {
    padding: 30px 200px 50px 200px;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
}
footer {
    background: #DCE7ED;
    text-align: center;
    color: black;
    padding: 10px 0px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    border: 1px solid LightGrey;
    height: 30px;
    flex-shrink: 0;
}
footer p {
    text-align: center;
}
a {
    color: #000000;
  }

<!--
 
  -->